/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | SHFT |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | CTRL |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | MINUS|
//                    | GUI | ALT | SPC |   | ENT | RSE  | LWR |
                        display-name = "Base";
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp LSHFT &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LCTRL &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp MINUS
                  &kp LGUI &kp RALT &kp SPACE   &kp RET &mo 2 &mo 1
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
// | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        display-name = "Lower";
                        bindings = <
   &kp ESC    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5         &kp N6   &kp N7   &kp N8 &kp N9    &kp N0 &kp BSPC
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans
   &kp LSHFT  &trans       &trans       &trans       &trans       &trans         &trans   &trans   &trans &trans    &trans &trans
                          	        &trans     &trans       &kp SPACE      &kp RET  &trans   &trans
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        display-name = "Raise";
                        bindings = <
   &kp  TAB  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BSPC
   &kp LCTRL &trans   &trans &trans   &trans   &trans      &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp BSLH &kp GRAVE
   &kp LSHFT &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &kp TILDE
                    	     &kp LGUI &trans   &kp SPACE   &kp RET   &trans    &kp RALT
                        >;
                };

                extra_1 {
                        status = "reserved";
                };

                extra_2 {
                        status = "reserved";
                };

                extra_3 {
                        status = "reserved";
                };
        };
};

/ {
    combos {
        compatible = "zmk,combos";
        combo_p {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp P>;
        };

        combo_o {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp O>;
        };

        combo_i {
            timeout-ms = <50>;
            key-positions = <2 3>;
            bindings = <&kp I>;
        };

        combo_u {
            timeout-ms = <50>;
            key-positions = <3 4>;
            bindings = <&kp U>;
        };

        combo_y {
            timeout-ms = <50>;
            key-positions = <4 5>;
            bindings = <&kp Y>;
        };

        combo_sqt {
            timeout-ms = <50>;
            key-positions = <12 13>;
            bindings = <&kp SQT>;
        };

        combo_semi {
            timeout-ms = <50>;
            key-positions = <13 14>;
            bindings = <&kp SEMI>;
        };

        combo_l {
            timeout-ms = <50>;
            key-positions = <14 15>;
            bindings = <&kp L>;
        };

        combo_k {
            timeout-ms = <50>;
            key-positions = <15 16>;
            bindings = <&kp K>;
        };

        combo_j {
            timeout-ms = <50>;
            key-positions = <16 17>;
            bindings = <&kp J>;
        };

        combo_fslh {
            timeout-ms = <50>;
            key-positions = <24 25>;
            bindings = <&kp FSLH>;
        };

        combo_dot {
            timeout-ms = <50>;
            key-positions = <25 26>;
            bindings = <&kp DOT>;
        };

        combo_comma {
            timeout-ms = <50>;
            key-positions = <26 27>;
            bindings = <&kp COMMA>;
        };

        combo_m {
            timeout-ms = <50>;
            key-positions = <27 28>;
            bindings = <&kp m>;
        };

        combo_n {
            timeout-ms = <50>;
            key-positions = <28 29>;
            bindings = <&kp n>;
        };

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 >;12
            bindings = <&kp ESC>;
        };

        combo_mo1 {
            timeout-ms = <50>;
            key-positions = <36 37>;
            bindings = <&mo 1>;
        };
    };
};
